

<div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="80%">
 <h4>Create Product</h4>
 <form [formGroup] = "productForm" (submit)="onSubmit($event)">
    <!-- <div>
        <input type="text" [formControl] = "title" (keyup) = "onTitleKeyUp()" />
        <input type="text"  formControlName="title"/>
    </div>
    <div>
        Entered title = {{productForm.get("title")?.value}}
    </div>
    <p *ngIf="productForm.get('title')?.errors?.['required']">Title is Required</p>
    <p *ngIf="productForm.get('title')?.errors?.['minlength']">Title must be min. three characters</p>
    <p *ngIf="productForm.get('title')?.errors?.['maxlength']">Title must not exceed 6 characters</p>


    <div>
       
        <input type="text"  formControlName="price"/>
    </div>
    <div>
        Entered price = {{productForm.get("price")?.value}}
    </div>
    <p *ngIf="productForm.get('price')?.errors?.['required']">Price is Required</p>
    <p *ngIf="productForm.get('price')?.errors?.['pattern']">Price is invalid</p>
    
    <button type="submit" [disabled] = "productForm.invalid">Submit</button> -->
    <mat-form-field class="example-full-width" fxFlexFill>
        <mat-label>Title</mat-label>
        <input type="email" matInput formControlName="title" placeholder="Enter Title">
        <mat-error *ngIf="productForm.get('title')?.errors?.['required']">
         Title is Required
        </mat-error>

        <mat-error *ngIf="productForm.get('title')?.errors?.['minlength']">
            Min 3 characters is required
           </mat-error>
       
      </mat-form-field>

      <mat-form-field class="example-full-width" fxFlexFill>
        <mat-label>Description</mat-label>
        <input type="text" matInput formControlName="description" placeholder="Enter Description">
        <mat-error *ngIf="productForm.get('description')?.errors?.['required']">
         Description is Required
        </mat-error>
     </mat-form-field>


     <mat-form-field class="example-full-width" fxFlexFill>
        <mat-label>Price</mat-label>
        <input type="text" appOnlyNumbers matInput formControlName="price" placeholder="Enter Price">
        <mat-error *ngIf="productForm.get('price')?.errors?.['required']">
         Price is Required
        </mat-error>
     </mat-form-field>


     <mat-form-field class="example-full-width" fxFlexFill>
        <mat-label>Image</mat-label>
        <input type="text" matInput formControlName="image" placeholder="Enter Image">
        <mat-error *ngIf="productForm.get('image')?.errors?.['required']">
         Image is Required
        </mat-error>
     </mat-form-field>

     <div fxLayout="row" fxLayoutAlign="end center" fxFlexFill>
        <button mat-raised-button color="primary">Submit</button>
     </div>
    

        

 </form>
</div>
</div>
